.projects-grid {
	$this: #{&};
	$tile: '.tile';

	@mixin tile ($width, $offset, $y, $z) {
		@media (min-width: $screen-md-min) {
			position: relative;
			clear: both;
			margin-top: floor(-$y * 1px);
			z-index: $z;
		}

		#{$this}__tile {
			@media (min-width: $screen-md-min) {
				margin-top: floor(-$y * 1px);
				@include make-md-column($width);
				@include make-md-column-offset($offset);

				& > * {
					height: floor($width * 100px);
				}
			}
		}
	}

	&__wrapper {
		& > * + * {
			margin-top: $grid-gutter-width/2;
			@media (min-width: $screen-md-min) {
				margin-top: 0;
			}
		}
	}

	&__tile-row {
		@include make-row;

		& > #{$this}__tile {
			@include make-xs-column(12);
		}

		#{$tile} {
			// height on mobile
			height: 321px;
		}

		&:nth-child(7n + 1) { @include tile(3, 4, 0, 1); }
		&:nth-child(7n + 2) { @include tile(4, 7, 45, 1); }
		&:nth-child(7n + 3) { @include tile(3, 1, 120, 1); }
		&:nth-child(7n + 4) { @include tile(3, 7, 0, 1); }
		&:nth-child(7n + 5) { @include tile(4, 3, 200, 2); }
		&:nth-child(7n + 6) { @include tile(3, 1, 50, 1); }
		&:nth-child(7n + 7) { @include tile(4, 7, 150, 1); }
	}
}
