<div class="popup" data-popup="contact">
	<div class="popup__bg" data-popup-trigger="contact"></div>
	<div class="popup__content">
		<div class="popup__container">
			<div class="popup__header">
				<h1 class="popup__heading">let's <br>talk</h1>

				<a href="#" class="popup__close" data-popup-trigger="contact"></a>
			</div>
			<form class="form">
				<div class="form__box">
					<input
						type="text"
						placeholder="Imię i nazwisko"
						class="form__input"
					>

					<p class="form__step">1/4</p>

					<div class="form__line" style="width: 25%;"></div>
				</div>
			</form>
		</div>
	</div>
</div>
