<div class="popup" data-popup="contact">
	<div class="popup__bg" data-popup-trigger="contact"></div>
	<div class="popup__content">
		<div class="popup__container">
			<div class="popup__header">
				<h1 class="popup__heading">let's <br>talk</h1>

				<a href="#" class="popup__close" data-popup-trigger="contact"></a>
			</div>

			<form class="popup__form form" data-form="container">
				<div class="form__box">
					<input
						type="text"
						name="name"
						placeholder="Imię i nazwisko"
						class="form__input"
						data-form="text"
						data-form-input
						data-form-first
					>

					<p class="form__step">1/4</p>

					<div class="form__line" style="width: 25%;"></div>
				</div>

				<div class="form__box">
					<input
						type="email"
						name="email"
						placeholder="Adres e-mail"
						class="form__input"
						data-form="email"
						data-form-input
					>

					<p class="form__step">2/4</p>

					<div class="form__line" style="width: 50%;"></div>
				</div>

				<div class="form__box">
					<textarea
						type="text"
						name="message"
						placeholder="Jak możemy Ci pomóc?"
						class="form__input form__input--textarea"
						data-form="textarea"
						data-form-input
					></textarea>

					<p class="form__step">3/4</p>

					<div class="form__line" style="width: 75%;"></div>
				</div>

				<div class="form__box">
					<input
						type="text"
						name="budget"
						placeholder="Budżet"
						class="form__input"
						data-form="text"
						data-form-input
					>

					<p class="form__step">4/4</p>

					<div class="form__line" style="width: 100%;"></div>
				</div>

				<input
					type="hidden"
					name="dont_fill"
				>

				<p class="form__info" data-form="info"></p>

				<div class="text-center">
					<button type="submit" class="form__submit" data-form="submit">wyślij wiadomość</button>
				</div>
			</form>
		</div>
	</div>
</div>
