<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-xs-center col-sm-6 col-sm-push-6 text-sm-right col-md-4 col-md-push-4 text-md-center">
				<a href="{{ site.url }}" class="footer__logo logo logo--footer">
					<img src="{{ site.url }}/assets/images/logo.svg" alt="REV Studio" class="logo__img">
				</a>
			</div>
			<div class="col-xs-12 text-xs-center col-sm-6 col-sm-pull-6 text-sm-left col-md-4 col-md-pull-4 text-md-left">
				<p class="footer__copy">© Copyright 2017 Rev. Studio</p>
			</div>
			<div class="col-xs-12 hidden-xs hidden-sm col-md-4 text-md-right">
				<ul class="footer__menu">
					{% include menu.html %}
				</ul>
			</div>
		</div>
	</div>
</footer>
