<div class="
	col-xs-12
	text-xs-center
	col-sm-6
	col-md-push-1
	col-md-5
	text-sm-left
	next-prev__separator-right
">
	{% if page.previous_in_category != nil %}
		<h5>poprzedni</h5>
		<a class="next-prev__link" href="{{page.previous_in_category.url}}">{{page.previous_in_category.title | strip_html}}</a>
	{% endif %}

	<div class="visible-xs next-prev__divider"></div>
</div>
<div class="
	col-xs-12
	text-xs-center
	col-sm-6
	text-sm-right
	col-md-5
	col-md-push-1
	next-prev__separator-left
">
	{% if page.next_in_category != nil %}
		<h5>następny</h5>
		<a class="next-prev__link" href="{{page.next_in_category.url}}">{{page.next_in_category.title | strip_html}}</a>
	{% endif %}
</div>
<div class="col-xs-12 text-center">
	<a href="mailto:hello@revstudio.pl" class="next-prev__contact" data-popup-trigger="contact">napisz do nas</a>
</div>
