.next-prev {
	padding-top: $grid-gutter-width*2;
	padding-bottom: $grid-gutter-width*2;

	@media (min-width: $screen-md-min) {
		padding-top: $grid-gutter-width*3;
		padding-bottom: $grid-gutter-width*3;
	}

	&__link {
		font-size: $font-size-h2;
		position: relative;
		color: $text-color;
		font-weight: $headings-font-weight;
		&:hover, &:focus {
			color: $gray-dark;
			text-decoration: none;
		}
		@media (min-width: $screen-md-min) {
			font-size: 64px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #000;
			width: 0;
			height: 0.1em;
			transition: ease 400ms width;
		}
		&:hover, &.active {
			text-decoration: none;
			&:before {
				width: 100%;
			}
		}
	}

	&__divider {
		height: 20px;
	}

	&__contact {
		margin-top: $grid-gutter-width*1.5;
		position: relative;
		display: inline-block;
		width: auto;
		font-size: 36px;
		color: $gray-base;
		font-weight: 700;
		padding-bottom: 4px;

		&:hover, &:focus {
			text-decoration: none;
			color: $gray-base;
			&:after {
				max-width: 0;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 100%;
			height: 2px;
			background-color: $gray-base;
			transition: ease 400ms all;
		}
	}

	&__separator-left {
		@media (min-width: $screen-sm-min) {
			border-left: 1px solid #fff;
		}
	}

	&__separator-right {
		@media (min-width: $screen-sm-min) {
			border-right: 1px solid #fff;
		}
	}
}
