<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ page.title  | strip_html }} - revStudio</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
</head>
<body>
	{% include contact-pl.html %}
	{% include header-pl.html %}

	<div class="container page">
		{{ content }}
	</div>

	{% include footer-pl.html %}
	<script src="{{ site.baseurl }}/assets/scripts.js"></script>
</body>
</html>
