<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ page.title  | strip_html }} - revStudio</title>
	<link rel="stylesheet" href="http://revstudio.pl/beta/assets/styles.css">
	<script type="text/javascript">
		var site = '{{ page.name }}';
	    var userLang = navigator.languages ? navigator.languages[0] : (navigator.language || navigator.userLanguage);

	    if ( userLang.indexOf('pl') !== -1) {
			var address = window.location.href.replace(site, '');
			address += 'pl/' + site;
			console.log(address);

			window.location.href = address;
	    }
	</script>
</head>
<body>
	{% include contact.html %}
	{% include header.html %}

	<div class="container">
		{{ content }}
	</div>

	{% include footer.html %}
	<script src="http://revstudio.pl/beta/assets/scripts.js"></script>
</body>
</html>
