.list {
	margin-bottom: 4em;

	&__heading {
		text-transform: uppercase;
		margin-bottom: 2em;
	}

	&__list {
		list-style: none;
		padding: 0;

		li {
			margin: 0;
			margin-bottom: 1em;
		}

		a {
			color: $gray-dark;
			&:focus {
				text-decoration: none;
			}
		}
	}
}
